<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- include A-Frame obviously -->
    <script src="https://aframe.io/releases/1.0.4/aframe.min.js"></script>
    <title>Aframe school</title>
</head>
<body>
    <script>
        AFRAME.registerComponent('my-scene', {
            init: function() {
                var sceneEl = document.querySelector('a-scene');

                var abayImageEl = document.createElement('a-entity');
                abayImageEl.setAttribute('id', 'imageAbay');
                abayImageEl.setAttribute('image-change-handler', null);
                abayImageEl.setAttribute('geometry', 'primitive: plane');
                abayImageEl.setAttribute('material', 'src: #imgAbay');
                abayImageEl.setAttribute('position', '1.5 2 -2')
                sceneEl.appendChild(abayImageEl);

                abayImageEl.addEventListener('foo', function() {
                    document.getElementById('imgAbay').setAttribute('src', 'images/pattern-Abai2.png')
                });

                abayImageEl.emit('foo');
            }
        });

        AFRAME.registerComponent('play-video-handler', {
            init: function() {
                this.el.addEventListener('click', function() {
                    var v = document.querySelector('#myVideo');
                    if(v.paused) {
                        v.play();
                    } else {
                        v.pause();
                    }
                });
            }
        });
    </script>
    
    <a-scene my-scene>
        <a-assets>
            <video id="myVideo" src="videos/myFirstVideo.mp4"></video>
        </a-assets>
        <a-assets>
            <img id="imgAbay" src="images/pattern-Abai.png" alt="Abay">
        </a-assets>

        <a-entity
            play-video-handler
            geometry="primitive: box"
            material="src: #myVideo;"
            position="0 2 -2"
        ></a-entity>

        <a-camera>
            <a-cursor id="cursor"></a-cursor>
        </a-camera>
    </a-scene>
</body>
</html>