<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <!-- include A-Frame obviously -->
    <script src="https://aframe.io/releases/1.0.4/aframe.min.js"></script>
    <!-- include ar.js for A-Frame -->
    <script src="https://jeromeetienne.github.io/AR.js/aframe/build/aframe-ar.js"></script>
    <title>Document</title>
</head>
<body style='margin : 0px; overflow: hidden;'>
    <script>
        AFRAME.registerComponent('marker-handler', {
            init: function() {
                this.el.addEventListener('click', function() {
                    // document.getElementById('myFirstVideo').play();
                    document.getElementById('myBox').setAttribute('material', 'color:blue')
                })
                // this.el.emit('foo')
            }
        })
    </script>

    <a-scene embedded arjs>
        <a-assets>
            <video id="myFirstVideo" src="videos/myFirstVideo.mp4"></video>
        </a-assets>
        
        <a-marker-camera marker-handler type='pattern' url="patterns/pattern-Abai.patt" cursor="rayOrigin: mouse">
            <a-entity 
                id="myBox"
                geometry="primitive: box" 
                material="color: red; opacity: 0.5"
            ></a-entity>
            <!-- <a-video src="#myVideo" rotation="90 0 0"></a-video> -->
        </a-marker-camera>

        <a-camera>
            <a-cursor id="cursor"></a-cursor>
        </a-camera>
    </a-scene>
</body>
</html>